body {
    font-family: Arial, sans-serif;
    background-color: #a09eaa;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.contenedor {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
    
}
.Parrafito {
    font-family: Arial, sans-serif;
    padding: 30px;
    border-radius: 8;
    background: gray;
    color: rgb(1, 1, 71);
    vertical-align: bottom;
}
button:hover {
    background-color: #218838;
}