body {
    margin: 0;
    display: flex;
    flex-direction: column; /* Apila contenedor y footer verticalmente */
    min-height: 100vh;      /* Obliga al body a medir toda la pantalla */
    font-family: sans-serif;
    background-color: #8c8c9a;
}

.contenedor {
    background: white;
    margin: 20px auto;      /* Lo centra a él mismo en la pantalla */
    padding: 30px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    flex: 1;

    /* --- ESTO ES LO NUEVO --- */
    display: flex;
    flex-direction: column; /* Apila título, input y lista */
    align-items: center;    /* Centra todo horizontalmente */
    text-align: center;     /* Asegura que el texto también se centre */
}

/* Para que el input y el botón no se vean pegados */
#tareaInput {
    padding: 10px;
    margin-bottom: 10px;    /* Espacio abajo antes del botón */
    width: 80%;             /* Para que no sea tan chiquito */
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #63636b; /* Un tono más oscuro para que contraste */
    color: #ffffff;
    text-align: center;
    width: 100%;
}

.Parrafito {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 15px;
    border-radius: 8;
    background: rgb(240, 228, 223);
    color: rgb(1, 1, 71);
    vertical-align: bottom;
}